.form {
    width: 300px;
    border: 10px solid rgb(0, 128, 0);
    padding: 20px;
    margin: 0 auto;
    font-weight: 700px;
    background-color: rgba(238, 255, 0, 0.274);
   }
   .form input {
    width: 100%;
    padding: 10px 0;
   }